<!--The content below is only a placeholder and can be replaced.-->
<app-avbar></app-avbar>
<app-mensaje-inicial class=".row"></app-mensaje-inicial>
<router-outlet></router-outlet>

<!-- <div class=".container">

    <app-mensaje-inicial class=".row"></app-mensaje-inicial>

    <div class="row">
    <app-angularway class="col"></app-angularway>
    <div class="col">
        <app-botonera class=".row"></app-botonera>
        <app-crash-map class=".row"></app-crash-map>
    </div>    
    </div>

</div> -->

<footer>
    <div class="footer">diseñado por Benja RG 2018</div>
</footer>